/SampleApplications/csvParser/qcsv.pro.user
/*.orig
/SampleApplications/qcsv-build-Debug-Desktop_Qt_5_7_1_MinGW_32bit
/SampleApplications/xl2csv/*.user
/SampleApplications/qtxls2csv-build-Debug-Desktop_Qt_5_7_1_MinGW_32bit
/SampleApplications/qtxls2csv-build-Debug-Desktop_Qt_5_8_0_MinGW_32bit2
/clookuptable3.cpp
/clookuptable3.h
/SampleApplications/xlsxMergedCells-build-Debug-Desktop_Qt_5_12_4_MinGW_32bit2
/SampleApplications/xlsxMergedCells/*.user
/SampleApplications/xlsxMergedCells-build-Release-Desktop_Qt_5_12_4_MinGW_32bit2
